<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1178,2},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{869,886},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1178,226},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1394,2},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1610,2},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{2,2},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{2,444},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{296,2},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{296,444},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1178,450},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{2,886},{291,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{590,2},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{590,444},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{884,2},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,219}</string>
                <key>textureRect</key>
                <string>{{1085,890},{213,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,219}</string>
                <key>textureRect</key>
                <string>{{1307,890},{213,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1394,226},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,439}</string>
                <key>spriteSourceSize</key>
                <string>{291,439}</string>
                <key>textureRect</key>
                <string>{{884,444},{291,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1610,226},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1394,450},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1610,450},{213,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1178,674},{213,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,221}</string>
                <key>textureRect</key>
                <string>{{1402,674},{213,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>borderNameGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,33}</string>
                <key>spriteSourceSize</key>
                <string>{290,33}</string>
                <key>textureRect</key>
                <string>{{1085,1106},{290,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comingSoomLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,422}</string>
                <key>spriteSourceSize</key>
                <string>{255,422}</string>
                <key>textureRect</key>
                <string>{{444,886},{255,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comingsoonMini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,207}</string>
                <key>spriteSourceSize</key>
                <string>{187,207}</string>
                <key>textureRect</key>
                <string>{{1626,674},{187,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,357}</string>
                <key>spriteSourceSize</key>
                <string>{9,357}</string>
                <key>textureRect</key>
                <string>{{444,1144},{9,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lichSuCuocTheThao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1529,890},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameIcon.png</string>
            <key>size</key>
            <string>{1825,1179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af1526f4a0b1f09999a8237e63b8edb8:1b5d06385634f9ed104d419cc4a7108d:bc70d6b088944c1a7f9392e3a4118958$</string>
            <key>textureFileName</key>
            <string>gameIcon.png</string>
        </dict>
    </dict>
</plist>
