<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QRCode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2,1595},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{305,1698},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,59}</string>
                <key>spriteSourceSize</key>
                <string>{278,59}</string>
                <key>textureRect</key>
                <string>{{387,611},{278,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,256}</string>
                <key>spriteSourceSize</key>
                <string>{158,258}</string>
                <key>textureRect</key>
                <string>{{236,1205},{156,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiDatICon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,50}</string>
                <key>spriteSourceSize</key>
                <string>{131,50}</string>
                <key>textureRect</key>
                <string>{{420,1502},{131,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>footerBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1590,156}</string>
                <key>spriteSourceSize</key>
                <string>{1590,156}</string>
                <key>textureRect</key>
                <string>{{2,2},{1590,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gradianL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,606}</string>
                <key>spriteSourceSize</key>
                <string>{248,606}</string>
                <key>textureRect</key>
                <string>{{236,2},{248,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gradianNotication.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,44}</string>
                <key>spriteSourceSize</key>
                <string>{524,44}</string>
                <key>textureRect</key>
                <string>{{329,611},{524,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iConNews.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{433,1796},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iConSettings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{51,55}</string>
                <key>textureRect</key>
                <string>{{409,1699},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoAddgoldCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{376,1107},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{305,1582},{113,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icoBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,53}</string>
                <key>spriteSourceSize</key>
                <string>{35,53}</string>
                <key>textureRect</key>
                <string>{{449,769},{35,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoCaiDat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,59}</string>
                <key>spriteSourceSize</key>
                <string>{76,59}</string>
                <key>textureRect</key>
                <string>{{387,892},{76,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icoDollaL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{449,825},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoFbMessenger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,47}</string>
                <key>spriteSourceSize</key>
                <string>{177,47}</string>
                <key>textureRect</key>
                <string>{{236,1532},{177,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoHoTro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,67}</string>
                <key>textureRect</key>
                <string>{{395,1358},{78,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icoHotline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,44}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{395,1205},{150,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icoInbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{420,1636},{60,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icoLiveChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,65}</string>
                <key>spriteSourceSize</key>
                <string>{167,65}</string>
                <key>textureRect</key>
                <string>{{236,1464},{167,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,53}</string>
                <key>spriteSourceSize</key>
                <string>{36,53}</string>
                <key>textureRect</key>
                <string>{{409,1757},{36,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icoRutTien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{87,64}</string>
                <key>textureRect</key>
                <string>{{329,1138},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoViber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,45}</string>
                <key>spriteSourceSize</key>
                <string>{122,45}</string>
                <key>textureRect</key>
                <string>{{435,971},{122,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icoline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,358}</string>
                <key>spriteSourceSize</key>
                <string>{8,358}</string>
                <key>textureRect</key>
                <string>{{376,611},{8,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconLoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{161,1566},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconSettingTong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{406,1439},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconTopcup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{419,1107},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineNgang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,25}</string>
                <key>spriteSourceSize</key>
                <string>{155,25}</string>
                <key>textureRect</key>
                <string>{{449,611},{155,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>livestream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,61}</string>
                <key>spriteSourceSize</key>
                <string>{125,61}</string>
                <key>textureRect</key>
                <string>{{305,1803},{125,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tinTucICon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,56}</string>
                <key>spriteSourceSize</key>
                <string>{132,56}</string>
                <key>textureRect</key>
                <string>{{376,972},{132,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1561,72}</string>
                <key>spriteSourceSize</key>
                <string>{1561,72}</string>
                <key>textureRect</key>
                <string>{{161,2},{1561,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,90}</string>
                <key>spriteSourceSize</key>
                <string>{591,90}</string>
                <key>textureRect</key>
                <string>{{236,611},{591,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xepHangICon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{305,1867},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NewLobby.png</string>
            <key>size</key>
            <string>{486,1913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:344c8e89611311f5fc11e845485523b0:3465e9e7f51a10b89092d31f30d9e279:c58460431322dbfbd89ed330e1d98d2f$</string>
            <key>textureFileName</key>
            <string>NewLobby.png</string>
        </dict>
    </dict>
</plist>
