<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banChung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{986,68}</string>
                <key>spriteSourceSize</key>
                <string>{986,68}</string>
                <key>textureRect</key>
                <string>{{2,235},{986,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banThuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{986,68}</string>
                <key>spriteSourceSize</key>
                <string>{986,68}</string>
                <key>textureRect</key>
                <string>{{2,306},{986,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderFooterLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,100}</string>
                <key>spriteSourceSize</key>
                <string>{405,100}</string>
                <key>textureRect</key>
                <string>{{581,377},{405,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderFooterRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,100}</string>
                <key>spriteSourceSize</key>
                <string>{405,100}</string>
                <key>textureRect</key>
                <string>{{576,480},{405,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>borderLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,362}</string>
                <key>spriteSourceSize</key>
                <string>{203,362}</string>
                <key>textureRect</key>
                <string>{{1112,145},{203,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>borderMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1192,66}</string>
                <key>spriteSourceSize</key>
                <string>{1192,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{1192,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnChoiNhanhOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,73}</string>
                <key>spriteSourceSize</key>
                <string>{280,73}</string>
                <key>textureRect</key>
                <string>{{991,235},{280,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTaoBanOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,73}</string>
                <key>spriteSourceSize</key>
                <string>{284,73}</string>
                <key>textureRect</key>
                <string>{{1448,386},{284,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1107,79}</string>
                <key>spriteSourceSize</key>
                <string>{1107,79}</string>
                <key>textureRect</key>
                <string>{{2,71},{1107,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headerGameTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1107,79}</string>
                <key>spriteSourceSize</key>
                <string>{1107,79}</string>
                <key>textureRect</key>
                <string>{{2,153},{1107,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iConNews.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,72}</string>
                <key>spriteSourceSize</key>
                <string>{57,72}</string>
                <key>textureRect</key>
                <string>{{1112,71},{57,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icChoiNhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{1092,637},{68,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icClock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1491,2},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icHuongDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{1067,235},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icMoneyMini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,51}</string>
                <key>spriteSourceSize</key>
                <string>{35,51}</string>
                <key>textureRect</key>
                <string>{{1402,566},{35,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,56}</string>
                <key>textureRect</key>
                <string>{{984,518},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icTaoBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{1163,637},{68,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBanChung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,140}</string>
                <key>spriteSourceSize</key>
                <string>{291,140}</string>
                <key>textureRect</key>
                <string>{{1197,2},{291,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBanChungXocDia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,140}</string>
                <key>spriteSourceSize</key>
                <string>{291,140}</string>
                <key>textureRect</key>
                <string>{{1108,351},{291,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBanRieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,140}</string>
                <key>spriteSourceSize</key>
                <string>{291,140}</string>
                <key>textureRect</key>
                <string>{{1108,494},{291,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingBanChung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,44}</string>
                <key>spriteSourceSize</key>
                <string>{238,44}</string>
                <key>textureRect</key>
                <string>{{1477,145},{238,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadingonline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{1402,351},{212,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popupnoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,50}</string>
                <key>spriteSourceSize</key>
                <string>{548,50}</string>
                <key>textureRect</key>
                <string>{{557,583},{548,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textCongBangChongDanhVay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,37}</string>
                <key>spriteSourceSize</key>
                <string>{419,37}</string>
                <key>textureRect</key>
                <string>{{557,636},{419,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,72}</string>
                <key>spriteSourceSize</key>
                <string>{552,72}</string>
                <key>textureRect</key>
                <string>{{2,563},{552,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,90}</string>
                <key>spriteSourceSize</key>
                <string>{571,90}</string>
                <key>textureRect</key>
                <string>{{2,470},{571,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,90}</string>
                <key>spriteSourceSize</key>
                <string>{576,90}</string>
                <key>textureRect</key>
                <string>{{2,377},{576,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txtChoiNhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,25}</string>
                <key>spriteSourceSize</key>
                <string>{163,25}</string>
                <key>textureRect</key>
                <string>{{2,638},{163,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txtTaoBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,32}</string>
                <key>textureRect</key>
                <string>{{979,636},{110,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roomUi.png</string>
            <key>size</key>
            <string>{1523,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76c43eafd12809b8b2344c53b0971b45:caf8cf0785af44c326346bc241d1c364:4844fd9a5dc4ada229abb29d19fc2c1f$</string>
            <key>textureFileName</key>
            <string>roomUi.png</string>
        </dict>
    </dict>
</plist>
