<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anh_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anh_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{141,0},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoDoi_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoDoi_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{141,48},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Box_diem_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Box_diem_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{141,96},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lieng_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lieng_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{141,144},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sap_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{0,192},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sap_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,48}</string>
                <key>spriteSourceSize</key>
                <string>{141,48}</string>
                <key>textureRect</key>
                <string>{{141,192},{141,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasScore.png</string>
            <key>size</key>
            <string>{282,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6cfe612beed936aff7b53f1ec725ffc:9fd516c217d2217dfc058bf496a88c94:ed3a99294d1df81cee1237d378319b6a$</string>
            <key>textureFileName</key>
            <string>AtlasScore.png</string>
        </dict>
    </dict>
</plist>
