<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icCard10A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{442,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard10B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{602,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard10C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{762,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard10D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{922,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard11A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1082,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard11B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1242,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard11C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1402,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard11D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1562,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard12A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1722,1},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard12B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1882,1},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard12C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{120,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard12D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{280,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard13A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,159}</string>
                <key>spriteSourceSize</key>
                <string>{115,159}</string>
                <key>textureRect</key>
                <string>{{1,161},{115,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard13B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,159}</string>
                <key>spriteSourceSize</key>
                <string>{115,159}</string>
                <key>textureRect</key>
                <string>{{120,1},{115,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard13C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,159}</string>
                <key>spriteSourceSize</key>
                <string>{115,159}</string>
                <key>textureRect</key>
                <string>{{1,322},{115,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard13D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,159}</string>
                <key>spriteSourceSize</key>
                <string>{115,159}</string>
                <key>textureRect</key>
                <string>{{281,1},{115,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard1A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{118,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard1B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{440,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard1C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{600,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard1D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{760,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard2A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{278,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard2B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{920,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1080,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1240,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard3A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{438,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard3B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1400,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1560,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1720,118},{115,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard4A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{598,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard4B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{758,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,158}</string>
                <key>spriteSourceSize</key>
                <string>{117,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard4D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{118,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard5A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{918,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard5B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{235,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{352,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{469,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard6A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{1078,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard6B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{586,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{703,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{820,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard7A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{1238,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard7B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{937,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1054,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1171,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard8A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1288,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard8B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1405,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1522,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard8D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{1398,395},{114,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icCard9A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1639,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard9B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1756,235},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1880,161},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCard9D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,158}</string>
                <key>spriteSourceSize</key>
                <string>{115,158}</string>
                <key>textureRect</key>
                <string>{{1873,321},{115,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCardback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,157}</string>
                <key>spriteSourceSize</key>
                <string>{114,157}</string>
                <key>textureRect</key>
                <string>{{1558,395},{114,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1998,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73408830a020bb49ce154baf9ad6267f:0c24c7c64d60a81ca78663877f5a3228:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
