<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnDanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{160,130}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1241,131},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{136,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{963,127},{136,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1620,129},{90,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{580,262},{124,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{150,126}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1266,2},{150,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{158,126}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{165,2},{158,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{126,130}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{461,133},{126,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1711,264},{108,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1376,131},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{832,129},{130,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{951,262},{112,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1199,266},{114,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1487,129},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{640,2},{152,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1713,133},{128,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{114,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{834,262},{114,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{447,262},{124,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{144,126}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{314,133},{144,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{88,126}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1620,260},{88,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{150,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1419,2},{150,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{154,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{326,2},{154,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{154,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{795,2},{154,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1572,2},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{112,126}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{717,133},{112,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{136,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1102,127},{136,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{130,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{314,262},{130,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{146,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1721,2},{146,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{156,130}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{2,135},{156,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{154,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{483,2},{154,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{112,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1334,266},{112,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1487,264},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1066,262},{122,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avatar38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{146,132}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{165,131},{146,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{156,122}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{952,2},{156,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{711,262},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{120,126}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{594,133},{120,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{156,122}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{952,2},{156,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{130,118}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{2,268},{130,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{161,266},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{152,122}</string>
                <key>spriteSourceSize</key>
                <string>{174,132}</string>
                <key>textureRect</key>
                <string>{{1111,2},{152,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgAvatarCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,49}</string>
                <key>spriteSourceSize</key>
                <string>{174,49}</string>
                <key>textureRect</key>
                <string>{{1870,2},{174,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chamxanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1848,227},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vectorSmartObject@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{56,45}</string>
                <key>textureRect</key>
                <string>{{1848,179},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Avatar.png</string>
            <key>size</key>
            <string>{1921,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c793c7de05cc96704d0155e68cbe2128:fd8fb6f814f646986874491a2ed50cfb:7dd9351ec418f46edfff348c62559ee2$</string>
            <key>textureFileName</key>
            <string>Avatar.png</string>
        </dict>
    </dict>
</plist>
