<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{349,1185},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{388,1185},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{397,1218},{37,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{425,1147},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{464,1147},{37,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{397,1257},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{430,1180},{37,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{430,1219},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{436,1252},{37,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>allIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,22}</string>
                <key>spriteSourceSize</key>
                <string>{72,24}</string>
                <key>textureRect</key>
                <string>{{343,930},{70,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{23,16}</string>
                <key>textureRect</key>
                <string>{{343,730},{23,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxUser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,49}</string>
                <key>spriteSourceSize</key>
                <string>{174,49}</string>
                <key>textureRect</key>
                <string>{{343,554},{174,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,55}</string>
                <key>spriteSourceSize</key>
                <string>{87,55}</string>
                <key>textureRect</key>
                <string>{{366,1044},{87,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{217,1218},{88,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{307,1218},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTheo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,67}</string>
                <key>spriteSourceSize</key>
                <string>{143,67}</string>
                <key>textureRect</key>
                <string>{{428,751},{143,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonTheoHet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,67}</string>
                <key>spriteSourceSize</key>
                <string>{143,67}</string>
                <key>textureRect</key>
                <string>{{428,896},{143,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonTheoHetHighlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{221,959},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,67}</string>
                <key>spriteSourceSize</key>
                <string>{143,67}</string>
                <key>textureRect</key>
                <string>{{221,1044},{143,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,67}</string>
                <key>spriteSourceSize</key>
                <string>{143,67}</string>
                <key>textureRect</key>
                <string>{{72,1064},{143,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonXacNhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,67}</string>
                <key>spriteSourceSize</key>
                <string>{143,67}</string>
                <key>textureRect</key>
                <string>{{141,1064},{143,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonXem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,67}</string>
                <key>spriteSourceSize</key>
                <string>{143,67}</string>
                <key>textureRect</key>
                <string>{{72,1209},{143,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonXemUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,67}</string>
                <key>spriteSourceSize</key>
                <string>{143,67}</string>
                <key>textureRect</key>
                <string>{{210,1113},{143,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonXemUpCopyHighlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{343,751},{159,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>footerBar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,84}</string>
                <key>spriteSourceSize</key>
                <string>{748,84}</string>
                <key>textureRect</key>
                <string>{{404,1},{748,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>footerBar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,120}</string>
                <key>spriteSourceSize</key>
                <string>{403,120}</string>
                <key>textureRect</key>
                <string>{{221,554},{403,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keyBbCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{423,1041},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{355,1133},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keySb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{423,1094},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mCCC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,18}</string>
                <key>spriteSourceSize</key>
                <string>{73,18}</string>
                <key>textureRect</key>
                <string>{{476,1041},{73,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{469,1186},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokerOmaha copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,69}</string>
                <key>spriteSourceSize</key>
                <string>{225,69}</string>
                <key>textureRect</key>
                <string>{{1,1064},{225,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokerOmaha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,69}</string>
                <key>spriteSourceSize</key>
                <string>{507,69}</string>
                <key>textureRect</key>
                <string>{{84,554},{507,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{407,1147},{36,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>raiseTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,16}</string>
                <key>spriteSourceSize</key>
                <string>{81,16}</string>
                <key>textureRect</key>
                <string>{{343,912},{81,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roundedRectangle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{86,30}</string>
                <key>textureRect</key>
                <string>{{382,954},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slideTruot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,34}</string>
                <key>spriteSourceSize</key>
                <string>{130,34}</string>
                <key>textureRect</key>
                <string>{{217,1182},{130,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhToLopbong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,508}</string>
                <key>spriteSourceSize</key>
                <string>{64,508}</string>
                <key>textureRect</key>
                <string>{{155,554},{64,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhtoBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,551}</string>
                <key>spriteSourceSize</key>
                <string>{401,551}</string>
                <key>textureRect</key>
                <string>{{1,1},{401,551}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhtoLopmau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,508}</string>
                <key>spriteSourceSize</key>
                <string>{81,508}</string>
                <key>textureRect</key>
                <string>{{1,554},{81,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameTo.png</string>
            <key>size</key>
            <string>{496,1290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40a71d66b418bc9431663fae809e1aa2:6d51360af246dbc5bd64a79e1d06c5ad:2183676418c9b20f06b2319e08a11b31$</string>
            <key>textureFileName</key>
            <string>GameTo.png</string>
        </dict>
    </dict>
</plist>
