<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateTable/btn@3x 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{827,498},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateTable/btn@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{382,870},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateTable/group45@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,95}</string>
                <key>spriteSourceSize</key>
                <string>{428,95}</string>
                <key>textureRect</key>
                <string>{{1,746},{428,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateTable/rectangle6@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,55}</string>
                <key>spriteSourceSize</key>
                <string>{319,55}</string>
                <key>textureRect</key>
                <string>{{663,1},{319,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateTable/roundedRectangle1@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{704,864},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateTable/slideBar@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{741,78}</string>
                <key>spriteSourceSize</key>
                <string>{741,78}</string>
                <key>textureRect</key>
                <string>{{1,586},{741,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban5@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,75}</string>
                <key>spriteSourceSize</key>
                <string>{118,75}</string>
                <key>textureRect</key>
                <string>{{941,122},{118,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ban5Disable@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,75}</string>
                <key>spriteSourceSize</key>
                <string>{118,75}</string>
                <key>textureRect</key>
                <string>{{941,242},{118,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ban7@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,75}</string>
                <key>spriteSourceSize</key>
                <string>{116,75}</string>
                <key>textureRect</key>
                <string>{{678,746},{116,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ban7Disable@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,75}</string>
                <key>spriteSourceSize</key>
                <string>{116,75}</string>
                <key>textureRect</key>
                <string>{{906,602},{116,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ban9@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,75}</string>
                <key>spriteSourceSize</key>
                <string>{118,75}</string>
                <key>textureRect</key>
                <string>{{941,362},{118,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ban9Disable@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,75}</string>
                <key>spriteSourceSize</key>
                <string>{118,75}</string>
                <key>textureRect</key>
                <string>{{941,482},{118,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusBaiDep@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,108}</string>
                <key>spriteSourceSize</key>
                <string>{263,108}</string>
                <key>textureRect</key>
                <string>{{663,58},{263,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHuongDan@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{883,871},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLutChoi@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{749,870},{61,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSuKien@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{635,864},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTaoBan@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,83}</string>
                <key>spriteSourceSize</key>
                <string>{125,83}</string>
                <key>textureRect</key>
                <string>{{755,743},{125,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnThoat@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{62,88}</string>
                <key>textureRect</key>
                <string>{{928,58},{62,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTinTuc@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{817,871},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnVaoNhanh@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{840,743},{126,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnXephang@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{563,856},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonHighlight4Nguoi@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,79}</string>
                <key>spriteSourceSize</key>
                <string>{162,79}</string>
                <key>textureRect</key>
                <string>{{663,498},{162,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonHighlightSolo@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,79}</string>
                <key>spriteSourceSize</key>
                <string>{162,79}</string>
                <key>textureRect</key>
                <string>{{744,579},{162,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonNormal4Nguoi@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,79}</string>
                <key>spriteSourceSize</key>
                <string>{162,79}</string>
                <key>textureRect</key>
                <string>{{825,579},{162,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonNormalSolo@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,79}</string>
                <key>spriteSourceSize</key>
                <string>{162,79}</string>
                <key>textureRect</key>
                <string>{{925,720},{162,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyin_bgActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,57}</string>
                <key>spriteSourceSize</key>
                <string>{565,57}</string>
                <key>textureRect</key>
                <string>{{604,1},{565,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyin_bgThanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{741,78}</string>
                <key>spriteSourceSize</key>
                <string>{741,78}</string>
                <key>textureRect</key>
                <string>{{1,666},{741,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyin_bgmoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,59}</string>
                <key>spriteSourceSize</key>
                <string>{295,59}</string>
                <key>textureRect</key>
                <string>{{1,843},{295,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyin_thanhtruot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,106}</string>
                <key>spriteSourceSize</key>
                <string>{61,106}</string>
                <key>textureRect</key>
                <string>{{455,856},{61,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>group35@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,583}</string>
                <key>spriteSourceSize</key>
                <string>{601,583}</string>
                <key>textureRect</key>
                <string>{{1,1},{601,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>group43@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,108}</string>
                <key>spriteSourceSize</key>
                <string>{245,108}</string>
                <key>textureRect</key>
                <string>{{663,168},{245,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,39}</string>
                <key>spriteSourceSize</key>
                <string>{27,39}</string>
                <key>textureRect</key>
                <string>{{984,1},{27,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mUBinh@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,37}</string>
                <key>spriteSourceSize</key>
                <string>{124,37}</string>
                <key>textureRect</key>
                <string>{{245,904},{124,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>omaha@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,29}</string>
                <key>spriteSourceSize</key>
                <string>{186,29}</string>
                <key>textureRect</key>
                <string>{{910,364},{186,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phM@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,34}</string>
                <key>spriteSourceSize</key>
                <string>{82,34}</string>
                <key>textureRect</key>
                <string>{{298,843},{82,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table7 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,108}</string>
                <key>spriteSourceSize</key>
                <string>{245,108}</string>
                <key>textureRect</key>
                <string>{{663,278},{245,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,108}</string>
                <key>spriteSourceSize</key>
                <string>{245,108}</string>
                <key>textureRect</key>
                <string>{{663,388},{245,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,108}</string>
                <key>spriteSourceSize</key>
                <string>{245,108}</string>
                <key>textureRect</key>
                <string>{{431,746},{245,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texas@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,29}</string>
                <key>spriteSourceSize</key>
                <string>{194,29}</string>
                <key>textureRect</key>
                <string>{{910,168},{194,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tiNLNMiNNam@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,37}</string>
                <key>spriteSourceSize</key>
                <string>{242,37}</string>
                <key>textureRect</key>
                <string>{{1,904},{242,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RoomUI.png</string>
            <key>size</key>
            <string>{1017,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c4c3e299be819cb14b1ad7360379ab:117d6a3d3d290cd6538eb7a69abb4b52:67dfb22bb731746319e5057ea934957b$</string>
            <key>textureFileName</key>
            <string>RoomUI.png</string>
        </dict>
    </dict>
</plist>
